.collection {
  display: flex;
  flex-direction: column;
}

.collection-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

  .button-column {
    display: flex;
    flex-direction: row;
    height: 50px;
    
    Button {
      margin-bottom: 5px;
      width: 150px;
      margin-left: 20px;
      margin-right: 0;
    }
  }
}
